{% extends 'base/base.html' %}

{% block title %}
Registro bovino
{% endblock %}

{% block estilo %}
<style>
.snps-inline-select {
    width: auto;
    display: inline-block;
}
</style>
{% endblock %}


{% block contenido %}
<form method="post" enctype="multipart/form-data">
        {% csrf_token %}


        <label>{{ form.nombre.label }}:</label>
        {{ form.nombre }}

        <label>{{ form.arete.label }}:</label>
        {{ form.arete }}

        <label>{{ form.siniga.label }}:</label>
        {{ form.siniga }}

        <label>{{ form.sexo.label }}:</label>
        {{ form.sexo }}

        <label>{{ form.propietario.label }}:</label>
        {{ form.propietario }}

        <label>{{ form.ganadera.label }}:</label>
        {{ form.ganadera }}

        <label>{{ form.no_padre.label }}:</label>
        {{ form.no_padre }}

        <label>{{ form.no_madre.label }}:</label>
        {{ form.no_madre }}


        <label>{{ form.fecha_nacimiento.label }}:</label><br>
        {{ form.fecha_nacimiento }}<br>

        <label>{{ form.tipo_nacimiento.label }}:</label>
        {{ form.tipo_nacimiento }}

        <label>{{ form.tipo_parto.label }}:</label>
        {{ form.tipo_parto }}

        <label>{{ form.localizacion_fierro.label }}:</label>
        {{ form.localizacion_fierro }}

        <label>{{ form.estado.label }}:</label>
        {{ form.estado }}

        <label>{{ form.peso.label }}:</label>
        {{ form.peso }}
        <br>

        <label>{{ form.galeria_venta.label }}:</label>
        {{ form.galeria_venta }}
        <br>
        <br>

        <label>{{ form.img.label }}:</label>
        {{ form.img }}

        <br>
        <br>

        <div class="trans">
            <button class="btn btn-success" type="submit">Guardar</button>
        </div>

    <br>
</form>

{% endblock %}