{% extends 'base/base.html' %}

{% block title %}
Galeria
{% endblock %}


{% block contenido %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <div>
        <label>{{ form.nombre.label }}:</label>
        {{ form.nombre }}
        <label>{{ form.arete.label }}:</label>
        {{ form.arete }}
        <label>{{ form.siniga.label }}:</label>
        {{ form.siniga }}
        <label>{{ form.sexo.label }}:</label>
        {{ form.sexo }}
        <label>{{ form.propietario.label }}:</label>
        {{ form.propietario }}
        <label>{{ form.ganadera.label }}:</label>
        {{ form.ganadera }}
        <label>{{ form.no_padre.label }}:</label>
        {{ form.no_padre }}
        <label>{{ form.no_madre.label }}:</label>
        {{ form.no_madre }}
        <label>{{ form.fecha_nacimiento.label }}:</label>
        {{ form.fecha_nacimiento }}
        <label>{{ form.tipo_nacimiento.label }}:</label>
        {{ form.tipo_nacimiento }}
        <label>{{ form.tipo_parto.label }}:</label>
        {{ form.tipo_parto }}
        <label>{{ form.tipo_servicio.label }}:</label>
        {{ form.tipo_servicio }}
        <label>{{ form.localizacion_fierro.label }}:</label>
        {{ form.localizacion_fierro }}
        <label>{{ form.potrero.label }}:</label>
        {{ form.potrero }}
        <label>{{ form.estado.label }}:</label>
        {{ form.estado }}

        <label>{{ form.img.label }}:</label>
        {{ form.img }}
        <br>
        <div class="trans">
            <button class="btn btn-success" type="submit">Guardar</button>
        </div>
    </div>
</form>
{% endblock %}