{% extends 'base/base.html' %}

{% block title %}
Registro bovino
{% endblock %}

{% block estilo %}
<style>
.snps-inline-select {
    width: auto;
    display: inline-block;
}
</style>
{% endblock %}


{% block contenido %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <!--<div class="col-md-6">-->
        <label>{{ form.nombre.label }}:</label>
        {{ form.nombre }}

        <label>{{ form.arete.label }}:</label>
        {{ form.arete }}

        <label>{{ form.siniga.label }}:</label>
        {{ form.siniga }}

        <label>{{ form.sexo.label }}:</label>
        {{ form.sexo }}

        <label>{{ form.propietario.label }}:</label>
        {{ form.propietario }}

        <label>{{ form.ganadera.label }}:</label>
        {{ form.ganadera }}

        <label>{{ form.no_padre.label }}:</label>
        {{ form.no_padre }}
    <!--</div>-->
    <!--<div class="col-md-6">-->
        <label>{{ form.no_madre.label }}:</label>
        {{ form.no_madre }}


        <label>{{ form.fecha_nacimiento.label }}:</label><br>
        {{ form.fecha_nacimiento }}<br>

        <label>{{ form.tipo_nacimiento.label }}:</label>
        {{ form.tipo_nacimiento }}

        <label>{{ form.tipo_parto.label }}:</label>
        {{ form.tipo_parto }}

        <!--<label>{{ form.tipo_servicio.label }}:</label>-->
        <!--{{ form.tipo_servicio }}-->

        <!--<label>{{ form.fecha_servicio.label }}:</label>-->
        <!--{{ form.fecha_servicio }}-->

        <label>{{ form.localizacion_fierro.label }}:</label>
        {{ form.localizacion_fierro }}

        <!--<label>{{ form.potrero.label }}:</label>-->
        <!--{{ form.potrero }}-->

        <label>{{ form.estado.label }}:</label>
        {{ form.estado }}
        <br>

        <label>{{ form.galeria_venta.label }}:</label>
        {{ form.galeria_venta }}
        <br>
        <br>

        <label>{{ form.img.label }}:</label>
        {{ form.img }}
        </div>
        <br>
        <br>
        <!--<br>-->
        <!--<br>-->

        <!--<label>{{ form2.arete.label }}</label>-->
        <!--{{ form2.arete }}-->

        <!--<label>{{ form2.descripcion.label }}</label>-->
        <!--{{ form2.descripcion }}-->

        <!--<label>{{ form2.lugar.label }}</label>-->
        <!--{{ form2.lugar }}-->

        <!--<label>{{ form2.fecha.label }}</label>-->
        <!--{{ form2.fecha }}-->

        <div class="trans">
            <button class="btn btn-success" type="submit">Guardar</button>
        </div>

    <br>
</form>

{% endblock %}