{% extends 'base/base.html' %}

{% block title %}
Cerdos
{% endblock %}

{% block title2 %}
Ventas de cerdos
{% endblock %}

{% block contenido %}
    <table class="table table-striped table-bordered">
        <thead class="bg-success" >
            <tr>
                <th>#</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>fecha</th>
                <!--<th>Acciones</th>-->
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
                {% for i in object_list %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.cantidad }}</td>
                        <td>{{ i.total }}</td>
                        <td>{{ i.fecha }}</td>
                        <!--<td>{{ i.created }}</td>-->
                        <!--<td>{{ i.updated }}</td>-->
                        <!--<td>-->
                            <!--<a class="btn btn-primary" href="{% url 'venta_show' i.pk %}">Ver</a>-->
                            <!--&lt;!&ndash;<a class="btn btn-success" href="#">Editar</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a class="btn btn-danger" href="{% url 'venta_delete' i.pk %}">Eliminar</a>&ndash;&gt;-->
                        <!--</td>-->
                    </tr>
                {% endfor %}
            {% else %}
                <h2>No hay registros de ventas de cerdos</h2>
            {% endif %}
        </tbody>
    </table>
    <div class="container" align="center">
        <ul class="pager">
        {% if page_obj.has_previous %}
            <a class="btn btn-primary " href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        {% endif %}
    </ul>
    </div>

{% endblock %}